.text-bigger {
  font-size: 30px;
}

.text-italic-25 {
  font-size: 25px;
  font-style: italic;
}

.tv-height {
  min-height: 1000px;
}

.awssld__content {
  background: #fff !important;
  padding: 20px;
  display: block !important;
  /* align-items: center;
  justify-content: center; */
}
